<footer>
  <a class="arrow" href="index.html" alt="go to home-page"> <img src="./assets/images/ico-arrow.svg" title="home-page"/></a>
  <section class="footer">
    <ul class="links-info">
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Articles">Articles</a></li>
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Books">Books</a></li>
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Events">Events</a></li>
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Reasons">Reasons</a></li>
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Tips">Tips</a></li>
    </ul>
    <ul class="links-social">
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Twitter">Twitter</a></li>
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Instagram">Instagram</a></li>
      <li><a class="list-item" href="https://adalab.es/" alt="enlace a Adalab" title="Mastodon.Social">Mastodon.Social</a></li>
    </ul>
    <div class="copy-right">
      <span class="date">©2017</span>
      <small class="copy-right-text">we <span class="heart"> ❤︎ </span>components</small>
    </div>
  </section>
</footer>
