<header class="hero">
  <a href="https://adalab.es/" target="_blank">
    <img class="link-icon" src="./assets/images/ico-menu.svg" title="Enlace Adalab" alt="enlace la web de Adalab" />
  </a>
  <h1 class="title">Anonymous <span class="space">proxy</span></h1>
  <h4 class="subtitle">In hac habitasse platea dictumst.</h4>
  <div class="arrow-box">
    <a href="index.html#purchase">
      <img class="arrow-btn" src="./assets/images/ico-scroll-down.svg" title="3 reasons to purchase" alt="go to section 3 reasons to purchase" />
    </a>
  </div>
</header>
