<header class="hero">
  <a href="https://adalab.es/" target="_blank">
    <img class="link-icon" src="./assets/images/ico-menu.svg" title="Enlace Adalab" alt="enlace la web de Adalab" />
  </a>
  <h1 class="title">Anonymous proxy</h1>
  <h4 class="subtitle">In hac habitasse platea dictumst.</h4>
  <div class="arrow-box">
    <a href="#" target="_blank">
      <img class="arrow-btn" src="./assets/images/ico-scroll-down.svg" title="Sección 3 reasons to purchase" alt="enlace a sección 3 reasons to purchase" />
    </a>
  </div>
</header>
