<header class="hero">
  <nav>
    <a href="https://adalab.es/" target="_blank">
      <img class="hero--link-icon" src="./assets/images/ico-menu.svg" title="Enlace Adalab" alt="enlace la web de Adalab" />
    </a>
  </nav>
  <h1 class="hero--title">Anonymous <span class="proxy">proxy</span></h1>
  <h4 class="hero--subtitle">In hac habitasse platea dictumst.</h4>
  <div class="hero--arrow-box">
    <a href="index.html#purchase">
      <img class="hero--arrow-btn" src="./assets/images/ico-scroll-down.svg" title="3 reasons to purchase" alt="go to section 3 reasons to purchase" />
    </a>
  </div>
</header>
