<main>
  <section class="main-info">
    <small class="info">Insomnia <span class="capitalize">tips</span> </small>
    <h2 class="title">Looking <span class="capitalize">through</span> <span class="capitalize">a</span><span class="capitalize">window</span></h2>
    <p class="text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="btn">Go</button>
  </section>
  <div id="purchase"></div>
  <section class="main-purchase">
    <h2 class="title">3 Reasons to purchase</h2>
    <partial src="_main-purchase.html" name="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></partial>
    <partial src="_main-purchase.html" name="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie."></partial>
    <partial src="_main-purchase.html" name="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></partial>
    <button class="btn">More reasons</button>
  </section>
</main>
