<main>
  <section class="main-info">
    <h5 class="main-info--title">Insomnia <span class="capitalize">tips</span></h5>
    <h2 class="main-info--subtitle">Looking <span class="capitalize">through</span> <span class="capitalize">a</span><span class="capitalize">window</span></h2>
    <p class="main-info--text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="main-info--btn">Go</button>
  </section>
  <div id="purchase"></div>
  <section class="main-purchase">
    <h2 class="main-purchase--title">3 Reasons <span class="capitalize">to</span> <span class="capitalize">purchase</span></h2>
    <partial src="_main-purchase.html" name="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></partial>
    <partial src="_main-purchase.html" name="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie."></partial>
    <partial src="_main-purchase.html" name="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></partial>
    <button class="main-purchase--btn">More reasons</button>
  </section>
</main>
