<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final evaluation module 1</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <partial src="_header.html"></partial>
    <partial src="_main-info.html"></partial>
    <partial src="_main-purchase.html" text="Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum."></partial>></partial>
    <partial src="_footer.html"></partial>
  </body>
</html>
