.footer {
  background-color: $background-3;
  width: 100w;
  animation-name: footeranimation;
  animation-duration: 5s;
}
.section-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .links-info {
    list-style: none;
    margin-top: 60px;
    line-height: 30px;
    font-size: 16px;
    font-family: $font-text;
    font-weight: lighter;
    text-align: $primary-position;
  }
  .links-social {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: $font-text;
    font-weight: lighter;
    text-align: $primary-position;
  }
  .list-item {
    text-decoration: none;
    color: white;
    text-transform: $textUpercase;
  }

  .copy-right {
    display: flex;
    flex-direction: column;
    text-align: $primary-position;
    margin-top: 30px;
    color: $font-color1;
    font-size: 14px;
    line-height: 30px;
    font-family: $font-text;
  }
  .date {
    font-size: 14px;
    line-height: 30px;
  }
  .copy-right-text {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 45px;
  }
  .heart {
    color: $font-color4;
  }
}
.arrow {
  top: -22px;
  position: relative;
  left: 50%;
  width: 45px;
  height: 45px;
  background-color: $background-1;
  border-radius: $button-radio;
  display: flex;
  justify-content: center;
  align-content: center;
}

@keyframes footeranimation {
  from {
    background-color: #7b9de6;
  }
  to {
    background-color: #304268;
  }
}
