/* pendiente: 
  fontfamily no es 100% igual 
  arrow, posición caja e icono!!!
  quitar el borde de la caja*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $font-color1;
  height: 100vh;
  width: 100%;
  .link-icon {
    background-color: #0271bc;
    padding: 15px 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    z-index: 999;
  }
  .title {
    text-transform: $textUpercase;
    font-size: 42px;
    font-family: $font-titel;
    font-weight: 900;
    text-align: $primary-position;
  }
  .space::before {
    white-space: pre-line;
    content: "proxy";
  }
  .subtitle {
    font-size: 16px;
    font-family: $font-text;
    font-weight: 300;
    text-align: $primary-position;
  }
  .arrow-box {
    display: flex;
    position: relative;
    top: 65px;
    justify-content: center;
    align-self: center;
    width: 45px;
    height: 45px;
    background-color: $background-1;
    border-radius: $button-radio;
  }
  .arrow-btn {
    text-align: $primary-position;
    margin-top: 18px;
  }
}
