/* main-info */
@media all and (min-width: 768px) {
  .main-info {
    .title {
      width: 680px;
      font-size: 26px;
      line-height: 45px;
    }
    .text {
      font-size: 20px;
    }
    .btn {
      width: 91px;
    }
  }
}
@media all and (min-width: 1200px) {
  .main-info {
    margin-left: 275px;
    .info {
      font-size: 16px;
    }
    .title {
      font-size: 32px;
    }
    .btn {
      width: 160px;
    }
  }
}
/* main-purchase */
@media all and (min-width: 768px) {
  .main-purchase {
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 90px 112px 90px; */
    row-gap: 20px;
    width: 100vw;
    .title {
      grid-column: 1/4;
      grid-row: 1/2;
      font-size: 26px;
      line-height: 45px;
      margin-left: 30px;
    }
    .name {
      font-size: 24px;
    }
    .text {
      font-size: 20px;
    }
    .container {
      grid-column: span 1;
      grid-row: 2/3;
    }
    .btn {
      grid-column: 1/4;
      grid-row: 3/4;
      justify-content: center;
      margin-top: 40px;
    }
  }
}
@media all and (min-width: 1200px) {
  .name {
    font-size: 24px;
  }
  .text {
    font-size: 20px;
  }
}
