/* COSAS POR HACER:
  boton!! */
.capitalize {
  text-transform: capitalize;
}
.main-info {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;

  .info {
    height: 30px;
    font-family: $font-text;
    color: $background-2;
    line-height: 30px;
    font-size: 14px;
  }
  .title {
    font-family: $font-titel;
    font-weight: bold;
    font-size: 24px;
    color: $font-color2;
    line-height: 30px;
    height: 60px;
    width: 290px;
  }
  .text {
    font-family: $font-text;
    font-size: 18px;
    line-height: 30px;
    color: $font-color3;
    text-align: left;
    /* width: 290px; */
  }
  .btn {
    border: solid 2px $font-color4;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $background-1;
    color: $font-color4;
    font-family: $font-titel;
    font-weight: bolder;
    font-size: 20px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 45px;
  }
}
.main-purchase {
  background-color: $background-2;
  display: grid;
  /* width: 290px; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: $primary-position;
  padding-top: 30px;
  color: $font-color2;
  .title {
    font-family: $font-titel$font-titel;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 45px;
    margin-left: 15px;
    width: 290px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 45px;
    /* place-items: center; */
    height: 60px;
  }
  .name {
    color: $font-color2;
    font-size: 18px;
    font-family: $font-titel;
    width: 180px;
    text-align: $primary-position;
    margin-left: 70px;
    margin-left: 70px;
  }
  .text {
    color: $font-color2;
    font-size: 18px;
    font-family: $font-text;
    width: 180px;
    text-align: $primary-position;
    margin-left: 70px;
    margin-left: 70px;
  }
  .btn {
    width: 184px;
    height: 45px;
    font-family: $font-text;
    font-size: 20px;
    text-align: $primary-position;
    line-height: 45px;
    border-radius: 22.5px;
    background-color: $font-color4;
    color: $font-color1;
    margin-bottom: 60px;
    margin-top: 45px;
  }
}
