/* COSAS POR HACER:
  grid */
.capitalize {
  text-transform: capitalize;
}
.main-info {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  .info {
    height: 30px;
    font-family: $font-text;
    color: $font-color5;
    line-height: $lineheight30;
    font-size: 14px;
  }
  .title {
    font-family: $font-titel;
    font-weight: bolder;
    font-size: 24px;
    color: $font-color2;
    line-height: $lineheight30;
    height: 60px;
    width: 290px;
  }
  .name {
    font-weight: bolder;
  }
  .text {
    font-family: $font-text;
    font-size: 18px;
    line-height: $lineheight30;
    color: $font-color3;
    /* width: 290px; */
  }
  .btn {
    border: solid 2px $font-color4;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $background-1;
    color: $font-color4;
    font-family: $font-titel;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
  }
}
/* secction purchase */

.main-purchase {
  background-color: $background-2;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 93px 93px 93px 45px;
  row-gap: 45px;
  text-align: $primary-position;
  padding-top: 30px;
  color: $font-color2;
  padding-bottom: 60px;
  .title {
    font-family: $font-titel;
    font-size: 24px;
    font-weight: bolder;
    line-height: $lineheight30;
    margin-bottom: 45px;
    margin-left: 15px;
    width: 290px;
  }
  .name {
    color: $font-color2;
    font-size: 18px;
    font-family: $font-titel;
    width: 180px;
    text-align: $primary-position;
    margin-left: 70px;
    margin-left: 70px;
  }
  .text {
    color: $font-color2;
    font-size: 18px;
    font-family: $font-text;
    line-height: $lineheight30;
    width: 180px;
    text-align: $primary-position;
    margin-left: 70px;
    margin-left: 70px;
  }
  .btn {
    width: 184px;
    height: 45px;
    font-family: $font-text;
    font-size: 20px;
    text-align: $primary-position;
    line-height: 45px;
    border-radius: 22.5px;
    background-color: $font-color4;
    color: $font-color1;
    margin-left: 60px;
  }
}
