/* COSAS POR HACER:
  boton!! */
.capitalize {
  text-transform: capitalize;
}
.main-info {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;

  .info {
    height: 30px;
    font-family: "Roboto Slab";
    color: #8ccbea;
    line-height: 30px;
    font-size: 14px;
  }
  .title {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 24px;
    color: black;
    line-height: 30px;
    height: 60px;
    width: 290px;
  }
  .text {
    font-family: "Roboto Slab";
    font-size: 18px;
    line-height: 30px;
    color: #4a4a4a;
    text-align: left;
    /* width: 290px; */
  }
  .btn {
    border: solid 2px #f26002;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    background-color: white;
    color: #f26002;
    font-family: "Roboto Slab";
    font-weight: bolder;
    font-size: 20px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 45px;
  }
}
/* .main-purchase {
  border: solid seagreen 3px; */
/* } */
.main-purchase {
  background-color: #eff9ff;
  display: grid;
  /* width: 290px; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  padding-top: 30px;
  color: black;
  .title {
    font-family: "Roboto Slab";
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 45px;
    margin-left: 15px;
    width: 290px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 45px;
    place-items: center;
    height: 60px;
  }
  .name {
    color: black;
    font-size: 18px;
    font-family: "Roboto Slab";
    width: 180px;
    text-align: center;
    margin-left: 70px;
    margin-left: 70px;
  }
  .text {
    color: black;
    font-size: 18px;
    font-family: "Roboto Slab";
    width: 180px;
    text-align: center;
    margin-left: 70px;
    margin-left: 70px;
  }
  .btn {
    width: 184px;
    height: 45px;
    font-family: "Roboto Slab";
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    border-radius: 22.5px;
    background-color: #f26002;
    color: white;
    margin-bottom: 60px;
    margin-top: 45px;
  }
}
