/* HEADER */
@media all and (min-width: 768px) {
  .hero {
    &--title {
      font-size: 80px;
      width: 690px;
    }
    &--subtitle {
      font-size: 24px;
    }
  }
}
@media all and (min-width: 1200px) {
  .hero {
    background-position: top;
    &--title {
      font-size: 100px;
    }
    &--subtitle {
      font-size: 24px;
    }
  }
}
