// fonts sans-serif;?
$font-titel: "Roboto Slab";
$font-text: "Roboto";
$font-color1: white;
$font-color2: black;
$font-color3: #4a4a4a;

//text
$textposition: center;
$textUpercase: uppercase;

//backgroud color

$background-1: white;
$background-2: #8ccbea;
$background-3: #304268;

//button

$button-radio: 50%;
