// fonts sans-serif;?
$font-titel: "Roboto Slab";
$font-text: "Roboto";
$font-color1: white;
$font-color2: black;
$font-color3: #4a4a4a;
$font-color4: #f26002;

//text
$primary-position: center;
$textUpercase: uppercase;

//backgroud color

$background-1: white;
$background-2: #eff9ff;
$background-3: #304268;
/* #8ccbea
 */
//button

$button-radio: 50%;
